{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>ORMDemo1</h1>
</div>

<div id="content">

	{foreach [1,2,3] as $i}
		<h2>Example {$i}</h2>
		<p>
			<code><pre>{control example $i}</pre></code>
		</p>
	{/foreach}

</div>
